$primary: rgb(29, 155, 240);
$secondary: rgb(24, 24, 24);
$gray: #16181C;
$gray-light: gray;
$error-red: #ef4444;
$sky: #38bdf8;
$blue: #3B82F6;
$green: #22c55e;
$pink: #ec4899;
$slate: #64748b;


$base-color: #ddd;
$shine-color: #e8e8e8;
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;

@mixin background-gradient{
  background-size: 600px;
  background-image: linear-gradient(90deg, $gray-light 0px, $shine-color 40px, $base-color 80px);
}
@mixin background-gradient2{
  background-size: 600px;
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $gray-light 80px);
}
  